<h1><%= @user.email %></h1>
<div class="large-8 columns new_comment_form">
  <%= form_for [@user, @comment] do |f| %>
    <div class="large-10 columns">
      <%= f.label :body, "Comment" %>
      <%= f.text_field :body %>
    </div>
   <% end %>
</div>
<br>
<div class="large-8 columns user_comments">
  <%= render 'comments' %>
</div>