<h1>My Account Info</h1>
<div>
  <%= render @user %>
<%= link_to 'Edit', edit_user_url(current_user) %>
</div>

<h1>My Campaigns</h1>

<div class="well">
 <%= link_to '+ New Campaign', [:new, :campaign]  , class: 'btn btn-small btn-primary pull-right' %>
</div>

<%= render @campaigns %>

<h1>Campaigns Backed</h1>

<%= render @pledges %>
<p>-----------------------------------------------------</p>

<% sum = 0 %>
<% @user.pledges.each do |p| %>
  <% sum += p.reward.amount %>
<% end %>
<p><strong>Total Amount Donated: </strong><%= sum %></p>
