
<div class="highlight">
  <% if @pledge_status == true %>
    <p> You have donated. Thank You! </p>
  <% else %>
    <p> Do you want to donate? </p>
  <% end %>
</div>

<h2>Rewards</h2>

  <% @total = 0 %>
  <% @rewards.each do |r| %>
    <div class="rewards" id="<%= r.id %>">
<!-- Text to be shown over hover -->
    <span class="text-content"><span>Donate now!</span></span>
    
    <br>
    <p><%= r.description %></p>
    <p>$<%= r.amount %></p> 
    <p ><%= r.name %></p>
    <p>Number claimed <%= ((@pledges.where(:reward_id => r.id).count)) %></p>
    </div>
    <div id="dialog<%=r.id%>" title="Back this Campaign">
      <%= form_tag pledge_path(r.id),:remote => true, id: r.id do %>
          <div>
            <p>Reward Description:</p>
            <p><%=r.description%></p>
            <p>$<%=r.amount%></p>
            <br><br>
            <p><%=submit_tag "Complete Pledge", class: "pledge_create"%></p>
          </div>
      <% end %>
    </div>


  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
  <script type='text/javascript'>

    $(function() {
      $( "#dialog<%=r.id%>" ).dialog({
        autoOpen: false,
        show: {
          effect: "blind",
          duration: 100
        },
        hide: {
          effect: "explode",
          duration: 1000
        }
      });

      $("#dialog<%=r.id%>").submit(function () {
        $("#dialog<%=r.id%>").dialog( "close" );
        $( "#<%=r.id%>" ).click(function() {
        $( "#dialog<%=r.id%>" ).dialog( "open" );
        });
      });

      $( "#<%=r.id%>" ).click(function() {
        $( "#dialog<%=r.id%>" ).dialog( "open" );
      });
    });

  </script>
<% end %>