<br>
<h1> Discover Campaigns </h1>
<br>
<% @campaigns.each do |c| %>
  <h3><%= link_to c.name, campaign_path(c) %></h3>
  <p>
    <%= c.description %>
    <br>
    Tags:  <%= raw c.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')%>
  </p>
  <div class="progressbar" data-value="<%= c.total_earned %>" data-max="<%= c.goal %>"></div>
  <br>
<% end %>

<script>
  
  $(function() {
    $( ".progressbar" ).each(function() {
      var self = $(this)
          value = self.data('value'),
          max = self.data('max');

      self.progressbar({
        value: value,
        max: max
      });
    });
  });


// $(function() {  
//   $('.progress_bar').each(function() {
// var progressbar = $(this),
//       progressLabel = $(this).find( ".progress-label" ),
//     progressvalue = $(this).attr('value');
// console.log(progressvalue);     
      
//     progressbar.progressbar({
//       value: false,
//       change: function() {
       
//         progressLabel.text( progressbar.progressbar( "value" ) + "% Complete" );
//       },
//       complete: function() {
//         progressLabel.text( "Complete!" );
//       }
//     });
 
//     function progress() {
                
//       var val = progressbar.progressbar( "value" ) || 0;
 
//       progressbar.progressbar( "value", val + 1 )
//         .removeClass("beginning middle end")
//         .addClass(val < 40 ? "beginning" : val < 80 ? "middle" : "end");
        
 
//       if ( val < progressvalue ) {
//         setTimeout( progress, 100 );
//       }
//     }
 
//     setTimeout( progress, 100 );
//        });
//     });
</script>
