<h1><%= @campaign.name %></h1>
<p>Goal: <%= @campaign.goal %></p>
<p><%= @campaign.description %><p>
<p>Campaign started on <%= @campaign.start_time %><p>
<p>Campaign ends at <%= @campaign.end_time %><p>
<p>Created by: <%= @campaign.user_id %><p>
  <% if @campaign.end_time < Time.now %>
    <p>Campaign over!</p>
  <% else %>
    <p><%= ((@campaign.end_time - Time.now)/86400).round %> days to go</p>
  <% end %>
<p>Campaign was created by <%= @campaign.user_id %><p>
<p>Campaign was last updated on <%= @campaign.updated_at %><p>
<p></p>

<h2>Rewards</h2>
<% @rewards.each do |r| %>
  <p id="<%= r.id %>"><button><%= r.name %> </button></p>
  <p><%= r.description %></p>
  <p><%= r.amount %></p>
  


 <script type='text/javascript'>

  $(function() {
    $( "#dialog" ).dialog({
      autoOpen: false,
      show: {
        effect: "blind",
        duration: 1000
      },
      hide: {
        effect: "explode",
        duration: 1000
      }
    });
 
    $( "#<%=r.id%>" ).click(function() {
      $( "#dialog" ).dialog( "open" );
    });
  });

 </script>

 <div id="dialog" title="<%=r.description%>">
  <p>
  <%= form_tag pledge_path(r.id), id: r.id do %>
  <div> <%=submit_tag r.description, class: "pledge_create"%></div>
  <% end %>
   </p>
</div>
<% end %>