<h1><%= @campaign.name %></h1>
<p>Goal: <%= @campaign.goal %></p>
<p><%= @campaign.description %><p>
<p>Campaign started on <%= @campaign.start_time %><p>
<p>Campaign ends at <%= @campaign.end_time %><p>
<p>Created by: <%= @campaign.user.email %><p>
  <% if @campaign.end_time < Time.now %>
    <p>Campaign over!</p>
  <% else %>
    <p><%= ((@campaign.end_time - Time.now)/86400).round %> days to go</p>
  <% end %>
<p>Campaign was created by <%= @campaign.user.email %><p>
<p>Campaign was last updated on <%= @campaign.updated_at %><p>
 <div id = "total_earned"><h1> Total earned to date: $<%= @totals %></h1> </div>
 <div> <% if @pledge_status == true %> 
        <h1> YOU HAVE DONATED </h1>
      <% else %>
        <h1> DO YOU WANT TO DONATE? </h1>
      <% end %>
</div>


<h2>Rewards</h2>
  <%@total = 0%>
  <% @rewards.each do |r| %>
  <p id="<%= r.id %>"><button><%= r.name %> </button></p>
  <p><%= r.description %></p>
  <p><%= r.amount %></p>
  <p>Amount earned to date: <%= ((@pledges.where(:reward_id => r.id).count) * r.amount)%>
  <% @total += ((@pledges.where(:reward_id => r.id).count) * r.amount)%>

 <div id="dialog<%=r.id%>" title="Back this Campaign">
  <p>
  <%= form_tag pledge_path(r.id),:remote => true, id: r.id do %>
  <div>  Reward Description: <br>
  <br><%=r.description%>
  <br><br><br><%=submit_tag "Complete Pledge", class: "pledge_create"%></div>
  <% end %>
   </p>
</div>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
<script type='text/javascript'>

  $(function() {
    $( "#dialog<%=r.id%>" ).dialog({
      autoOpen: false,
      show: {
        effect: "blind",
        duration: 100
      },
      hide: {
        effect: "explode",
        duration: 1000
      }
    });

    $("#dialog<%=r.id%>").submit(function () {
      $("#dialog<%=r.id%>").dialog( "close" );
      $( "#<%=r.id%>" ).click(function() {
      $( "#dialog<%=r.id%>" ).dialog( "open" );
    });
    });
 
    $( "#<%=r.id%>" ).click(function() {
      $( "#dialog<%=r.id%>" ).dialog( "open" );
    });
  });

 </script>
<% end %>
<div id = "total"><h1> Total earned to date: $<%= @total %></h1></div>