<section>

  <div class="campaign_title"> <%= @campaign.name %>
  </div>
  <div class="campaign_user"> Created by: <%= link_to @campaign.user.email, user_path(@campaign.user) %>
  </div>

  <div class="row campaign">

    <div class="large-8 columns">
      <div class="campaign_pic">
        Insert Picture
      </div>
      <div class="campaign_description">
        <p><%= @campaign.pitch %></p>
      </div>
      
      <div id="campaign_comments">
        <%= render 'comments' %>
      </div>

      <div class="new_comment_form">
        <% if current_user %>
          <%= form_for [@campaign, @comment], :remote => true, id:"new_comment" do |f| %>
            <div class="large-10 columns">
              <%= f.label :body, "Comment" %>
              <%= f.text_field :body %>
            </div>
           <% end %>
         <% end %>
      </div>
    </div>

    <div class="large-4 columns campaign_info">
      <div id="sidebar">
        <%= render 'sidebar' %>
      </div>
    </div>

 </div>
</section>
