<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Crowdfunder" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "application" %>

    <!-- <div class="row"> -->
      <div class="twelve columns">
        <nav class="top-bar">
          <section class="top-bar-section">
            <ul class="right">
              <li class="has-dropdown">
                <% if current_user%>
                  <a href="#"><%= current_user.email %></a>
                  <%= link_to "Info", [:my, :campaigns] %>
                  <%= link_to "Logout", logout_path %>
                  <ul class="dropdown">
                  <li><a href="#">Log out</a></li>
                </ul>
              <% else %>
                <%= link_to "Sign Up", signup_path %>
                <%= link_to "Log In", login_path %>
              <% end %>
              </li>
            </ul>
          </section>
        </nav>
      </div>
    </div>
  </head>

  <body>
    
    <%= yield %>
    
  </body>
</html>